@page "/"

<PageTitle>Inicio</PageTitle>

<SfBreadcrumb>
    <BreadcrumbItems>
        <BreadcrumbItem IconCss="e-icons e-home" Url="" />
    </BreadcrumbItems>
</SfBreadcrumb>

<div class="spaccio-content">
    <img alt="Spaccio Descanso logo" src="img/spaccio.png"/>
</div>
