@inherits LayoutComponentBase

<PageTitle>SpaccioDescans</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <NavMenu/>
        </div>
        <div class="col">
            <User/>
        </div>
    </div>
    <div>
        @Body
    </div>
</div>
