<SfSidebar @ref="sidebarObj" Width="200px" DockSize="72px" EnableDock="true" @bind-IsOpen="sidebarToggle">
    <ChildContent>
        <SfAccordion ID="main-menu" Height="100%">
            <AccordionItems>
                <AuthorizeView>
                    <Authorized>
                        <ul>
                            <li class="sidebar-menu" id="toggle" @onclick="Toggle">
                                <span class="e-icons expand"></span>
                                <span class="e-text" title="menu">Menu</span>
                            </li>
                        </ul>
                        <AccordionItem Header="Inventario" IconCss="e-dashboard e-icons" Expanded="true">
                            <ContentTemplate>
                                <ul>
                                    <li class="sidebar-item">
                                        <NavLink class="e-text" href="/products/inventory">Listado</NavLink>
                                    </li>
                                </ul>
                            </ContentTemplate>
                        </AccordionItem>
                        <AccordionItem Header="Facturas" IconCss="e-dashboard e-icons" Expanded="true">
                            <ContentTemplate>
                                <ul>
                                    <li class="sidebar-item">
                                        <NavLink class="e-text" href="/orders/create">Crear</NavLink>
                                    </li>
                                    <li class="sidebar-item">
                                        <NavLink class="e-text" href="/orders/list">Listado</NavLink>
                                    </li>
                                </ul>
                            </ContentTemplate>
                        </AccordionItem>
                    </Authorized>
                </AuthorizeView>
            </AccordionItems>
        </SfAccordion>
    </ChildContent>
</SfSidebar>

@code {
    private SfSidebar sidebarObj = default!;

    private bool sidebarToggle;

    private void Toggle()
    {
        sidebarToggle = !sidebarToggle;
    }
}