@using SpaccioDescans.Infrastructure.Persistence

<SfSidebar Width="20%">
    <ChildContent>
        <SfAccordion>
            <AccordionItems>
            <AuthorizeView>
                <Authorized>
                    <AccordionItem Header="Productos" IconCss="e-dashboard e-icons" Expanded="true">
                        <ContentTemplate>
                            <ul>
                                <li><NavLink href="/products/inventory/index">Inventario</NavLink></li>
                            </ul>
                        </ContentTemplate>
                    </AccordionItem>
                    <AccordionItem Header="Facturación" IconCss="e-profile e-icons" Expanded="true">
                        <ContentTemplate>
                            <ul>
                                <li><NavLink href="/orders/create/index">Crear</NavLink></li>
                            </ul>
                        </ContentTemplate>
                    </AccordionItem>
                    <AccordionItem Header="@(this.storeName)" IconCss="e-profile e-icons" Expanded="true">
                        <ContentTemplate>
                            <ul>
                                <li>@context.User.Identity?.Name</li>
                            </ul>
                            <ul>
                                <li><NavLink href="/identity/account/logout">Salir</NavLink></li>
                            </ul>
                        </ContentTemplate>
                    </AccordionItem>
                </Authorized>
                <NotAuthorized>
                    <AccordionItem Header="Entrar" IconCss="e-dashboard e-icons" Expanded="true">
                        <ContentTemplate>
                            <ul>
                                <li><NavLink href="/identity/account/login">Entrar</NavLink></li>
                            </ul>
                        </ContentTemplate>
                    </AccordionItem>
                </NotAuthorized>
            </AuthorizeView>
            </AccordionItems>
        </SfAccordion>
    </ChildContent>
</SfSidebar>

@code{

    private string storeName = string.Empty;

    [Inject]
    private TenantConfiguration TenantConfiguration { get; set; } = default!;

    protected override void OnInitialized()
    {
        this.storeName = TenantConfiguration.StoreName;
    }
}