<SfSidebar @ref="sidebarObj" Width="300px" DockSize="72px" EnableDock="true" @bind-IsOpen="sidebarToggle">
    <ChildContent>
        <SfAccordion ID="main-menu" Height="100%">
            <AccordionItems>
                <AuthorizeView>
                    <Authorized>
                        <ul>
                            <li class="sidebar-item" id="toggle" @onclick="Toggle">
                                <span class="e-icons expand"></span>
                                <span class="e-text" title="menu">Menu</span>
                            </li>
                            <li class="sidebar-item">
                                <span class="e-icons  e-changes-accept"></span>
                                <NavLink class="e-text" href="/products/inventory/index">Inventario</NavLink>
                            </li>
                            <li class="sidebar-item">
                                <span class="e-icons e-expand"></span>
                                <NavLink class="e-text" href="/orders/create/index">Crear</NavLink>
                            </li>
                            <li class="sidebar-item">
                                <span class="e-icons e-expand"></span>
                                <NavLink class="e-text" href="/orders/create/list">Listado</NavLink>
                            </li>
                        </ul>
                    </Authorized>
                </AuthorizeView>
            </AccordionItems>
        </SfAccordion>
    </ChildContent>
</SfSidebar>

@code {
    private SfSidebar sidebarObj = default!;

    private bool sidebarToggle;

    private void Toggle()
    {
        sidebarToggle = !sidebarToggle;
    }
}