
<RadzenFieldset Text="Artículos">
    <button @onclick="AddProduct">Añadir</button>
    <button @onclick="Check">Check</button>
    @foreach (var orderDetail in OrderDetailViewModels)
    {
        <OrderDetailItem OrderDetailViewModel="orderDetail"/>
    }

</RadzenFieldset>

@code {

    [Parameter]
    public ICollection<OrderDetailViewModel> OrderDetailViewModels { get; set; } = new List<OrderDetailViewModel>();

    private void AddProduct()
    {
        this.OrderDetailViewModels.Add(new OrderDetailViewModel());
    }

    private void Check()
    {
        var res = this.OrderDetailViewModels.ToList();
    }
}