
<div class="row">
    <div class="align-items-center d-flex col-md-2" >
        <RadzenTextBox Disabled="true" Placeholder="Código" />
    </div>
    <div class="col-md-3">
        <RadzenTextBox Disabled="true" style="width: 100%;" Name="Region" />
    </div>
    <div class="col-md-3">
        <RadzenTextBox Placeholder="Descuento" style="width: 20%;" Name="Descuento" />
    </div>
    <div class="align-items-center d-flex col-md-2">
        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="search" style="display: inline-block; margin-left: 20px;" Click="@OpenOrder"/>
        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" />
    </div>
</div>

@code{

    [Parameter]
    public OrderDetailViewModel OrderDetailViewModel { get; set; } = new();

    [Inject]
    private DialogService DialogService { get; set; } = default!;

    private async Task OpenOrder()
    {
        await DialogService.OpenAsync<SearchProductDialog>("Buscar producto", null,
            new DialogOptions { Width = "90%", Height = "570px", Resizable = true, Draggable = true });
    }
}