@using Microsoft.AspNetCore.Components
<RadzenFieldset Text="Métodos de pago">
    <Condition Evaluation="this.OrderViewModel.NetAmount != 0">
        <Match>
            <div class="row">
                <div class="col-6">
                    <PaymentDetail Text="Tarjeta" ShowUpDown="true" />
                    <PaymentDetail Text="Efectivo" ShowUpDown="true" />
                    <PaymentDetail Text="Financiado" ShowUpDown="true" />
                </div>
                <div class="col-6">
                    <PaymentDetail Text="Neto" Amount="@this.OrderViewModel.NetAmount" ReadOnly="true" ShowUpDown="false" />
                    <PaymentDetail Text="Total (+ 21% IVA)" Amount="@this.OrderViewModel.TotalAmount" ReadOnly="true" ShowUpDown="false" />
                    <PaymentDetail Text="Pendiente" ReadOnly="true" ShowUpDown="false" />
                </div>
            </div>
        </Match>
    </Condition>
</RadzenFieldset>

@code {

    [Parameter]
    public OrderViewModel OrderViewModel { get; set; } = default!;

}