@*@inherits OrderBase

<PageTitle>Crear factura</PageTitle>

<RadzenCard class="pb-4">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Text="Inicio" />
        <RadzenBreadCrumbItem Text="Crear factura" />
    </RadzenBreadCrumb>
</RadzenCard>
<RadzenCard class="pb-4">
    <RadzenTemplateForm Data="@OrderViewModel" Submit="@(async (OrderViewModel order) => { await Submit(order); })">
        <div class="row">
            <div class="col-md-6">
                <CustomerInfo CustomerInfoViewModel="OrderViewModel.CustomerInfoViewModel"/>
            </div>
            <div class="col-md-6">
                <Payments OrderViewModel="@this.OrderViewModel"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <OrderDetailList OrderDetailViewModels="OrderViewModel.OrderDetailViewModels" OnOrderDetailUpdated="UpdateTotal"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-end" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Aceptar"/>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancelar" Click="@Cancel"/>
            </div>
        </div>
    </RadzenTemplateForm>
</RadzenCard>*@